{% extends "layout.html" %}

{% block menu %}
    <li class="nav-item">
        <a href="/" aria-label="Toggle navigation">Calculator</a>
    </li>
{% endblock %}

{% block content %}
    <div class="feature section">
        <div class="feature-box">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Trading Pair</th>
                              <th scope="col">From</th>
                              <th scope="col">To</th>
                              <th scope="col">Profit</th>
                              <th scope="col">APY</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>ETH / USDC</td>
                                <td>2021-01-01</td>
                                <td>2022-03-01</td>
                                <td>$ 31,125</td>
                                <td>125.36 %</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>ETH / USDC</td>
                                <td>2021-01-01</td>
                                <td>2022-03-01</td>
                                <td>$ 31,125</td>
                                <td>125.36 %</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>ETH / USDC</td>
                                <td>2021-01-01</td>
                                <td>2022-03-01</td>
                                <td>$ 31,125</td>
                                <td>125.36 %</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>ETH / USDC</td>
                                <td>2021-01-01</td>
                                <td>2022-03-01</td>
                                <td>$ 31,125</td>
                                <td>125.36 %</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}